.slider-main-heading{
	color: #fff;
	font-weight: 400;
	text-transform: uppercase;
	padding-bottom: 30px;
}
.slider-main-container-main{
	padding: 250px 0px 100px 0px;
	width: max-content;
}
.quick-btn{
	display: flex !important;
	align-items: center !important;
	width: max-content;
}
.quick-btn i{
	padding-left: 5px;
}
.slider-dot{
	display: flex;
	align-items: center;
	padding: 20px 0px 0px 0px;
	cursor: pointer;
}
.slider-dot .slide-circles.active{
	background: #fff;
	border-radius: 50%;
	padding: 4px;
}
.slide-circles{
	border-radius: 50%;
	padding: 4px;
	margin-right: 25px;
	background: #ffffffa1;
}
.about-main-section{
	padding: 80px 0px;
}
.location-img{
	border-radius: 15px;
}
.count-number{
	font-size: 45px;
	font-weight: 400;
}
.count-sub i{
	padding: 15px;
	border-radius: 50%;
	border: 1px solid rgba(174, 174, 174, 0.744);
}
.count-dv{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 25px;
	margin-bottom: 40px;
	border-bottom: 1px solid rgba(107, 107, 107, 0.559);
}
.counts-bg-main{
	padding: 40px 20px;
	border-radius: 10px;
	aspect-ratio: 1/1;
	max-width: min(400px,90%);
	min-width: 400px;
	margin-left: auto;
}
.number-txt{
	font-size: 40px;
}
.small-txt{
	padding-bottom: 25px;
}
.text-detail{
	font-size: 17px;
	line-height: 1.6;
	font-weight: 400;
	padding-bottom: 30px;
}
.read-more-btn i{
	padding-left: 10px;
}
.read-more-btn{
	background: #12459D;
	color: #fff;
	display: flex !important;
	width: max-content;
	align-items: center !important;
	font-size: 14px;
}
.logo{
	width: 100px;
}
.animation-div{
	padding: 80px 0px;
	background: linear-gradient(0deg, rgba(18, 73, 215, 0.27) 0%, rgba(246, 248, 240, 0.00) 68.43%, rgba(244, 248, 240, 0.00) 68.43%);
}
.sample-txt{
	font-size: 17px;
	color: #12459D;
	padding: 30px 0px;
	font-weight: 600;
}
.sample-txt-heading{
	text-transform: uppercase;
	font-weight: 400;
	font-size: 40px;
	padding-bottom: 35px;
}
.animated-one{
	width: 100%;
	padding: 20px;
	border-radius: 10px;
	margin-top: -10px;
}
.yellow{
	background: #FDEA39;
}
.numbr-txt{
	font-size: 50px;
	text-align: right;
}
.txt-sub{
	font-weight: 500;
	line-height: 1.3;
}
.blue{
	background: #0092D4;
}
.blueb{
	background: #12459D;
}
.explore{
	padding: 50px 0px;
}
.txt-explore{
	font-weight: 400;
}
.exprnc-txt{
	font-size: 16px;
	padding-top: 20px;
	padding-bottom: 30px;
}
.know-more-btn{
	display: flex !important;
	align-items: center;
	width: max-content;
}
.img-users{
	border-radius: 50%;
	display: none;
}
/* slider  */
.slider {
	position: relative;
	overflow: hidden;
}
.slider-main {
	display: flex;
	transition: transform 0.5s ease-in-out;
}
.slider-main-container-main {
	width: 100%;
	flex: 0 0 100%;
}
.slide-circles {
	width: 10px;
	height: 10px;
	background-color: #ccc;
	border-radius: 50%;
	margin: 0 5px;
	cursor: pointer;
}
.slide-circles.active {
	background-color: #f3c1c1 !important;
}


















/* responsive style  */
@media (min-width:2000px) {
	.container-main{
		width: 75% !important;
		margin: auto;
	}
}
@media (min-width:1800px) {
	.container-main{
		width: 80% !important;
		margin: auto;
	}
}
@media (max-width:991px) {
	.nav-items ul li.items{
		display: none;
	}
	.pay-online-btn{
		display: none !important;
	}
	.nav-main {
    padding-top: 0px !important;
	}
	.main-wrapper-home .container-sub{
		width: 100% !important;
	}
	.navbar-main {
    border-radius: 0px !important;
	}
	.bottom-space{
		padding-bottom: 50px;
	}
	.counts-bg-main {
    margin: auto;
	}
	.count-sub i{
		display: none;
	}
	.img-users{
		display: block;
	}
}
@media (max-width:700px) {
	.footer-first-row {
		display: block !important;
	}
	.logo-ftr img {
    margin: auto !important;
		display: table;
	}
	.footer-first-row ul {
    display: flex;
    justify-content: space-between;
		padding-top: 20px;
	}
	.secnd {
    text-align: center;
	}
	.slider-main-container-main {
    width: 100%;
	}
}
@media (max-width:500px) {
	.counts-bg-main {
		min-width: 90%;
	}
	.footer-first-row ul {
    display: block !important;
		margin: auto;
		text-align: center;
	}
	.footer-first-row ul li{
		padding-bottom: 10px;
	}
	.secnd {
    padding: 10px 0px 20px 0px;
	}
}
