@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,500;1,700;1,900&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,600&display=swap');
*{
  margin: 0;
	padding: 0;
	box-sizing: border-box;
}
img{
	width: 100%;
}
ul li{
	list-style: none;
}
.container-main{
  width: 85%;
  margin: auto;
}
.primaray-color{
	color: #5BB700;
}
.primary-bg{
	background: #5BB700;
}
/* navbar style  */
.navbar-main{
	background: #ffffff;
	padding: 10px 25px;
	display: flex;
	border-radius: 5px;
	justify-content: space-between;
}
.nav-items ul li a{
	color: #000;
}
.nav-items ul li{
	list-style: none;
	padding: 0px 20px;
}
.nav-items ul li a:hover{
	text-decoration: none;
}
.nav-items ul{
	display: flex;
	align-items: center;
	padding-right: 20px;
}
.nav-items{
	display: flex;
	align-items: center;
}
.pay-online-btn{
	
}
.nav-main{
	padding-top: 20px;
}
.nav-logo .logo-main{
	width: 130px;
}
/* footer style  */
footer{
	background: #0A275B;
	padding: 30px 0px;
}
.logo-ftr img{
	width: 150px;
}
.footer-first-row{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.footer-first-row ul{
 display: flex;
}
.footer-first-row ul li span{
	color: #ffffff;
}
.footer-first-row ul li{
	font-weight: 600;
	color: #709BE6;
}
.small{
	color: rgba(141, 141, 141, 0.69);	
	font-size: 13px;
}
.secnd{
	padding: 30px 0px 20px 0px;
}
/* sidebar  */
/* sidebar code */
.sidebar{
	width: 90%;
	min-width: 270px;
	max-width: 320px;
	height: 100%;
	position: fixed;
	top: 0px;
	overflow:auto !important;
	right: -320px;
	z-index: 20;
	transition: 0.2s ease;
	background: #b6b6b6;
	color: #d1d1d1;
}
.active-sidebar{
	color: #000000 !important;
}
.sidebar .closse i{
	font-size: 28px;
	color: #380000;
}
.open-cart{
	right: 0px !important;
}
.open-cartt{
	display:none;
}
.open-cart:before{
	content: '';
	position: fixed;
	top: 0px;
	height: 70vh;
	left: 0px;
	right: 0px;
	bottom: 0px;
	pointer-events: none;
	z-index: -1;
}
.navbar-sidebar {
	padding: 25px;
	margin-top: 45px;
}
.navbar-sidebar ul li{
	list-style: none;
	background: #5BB700;
	padding: 8px 15px;
	margin-bottom: 15px;
	border-radius: 10px;
	font-weight: 500;
}
.navbar-sidebar ul li a{
	text-decoration: none;
	color: #ffffff;
}
.navbar-sidebar ul{
  padding: 0;
}
.sidebar .closse{
	position: absolute;
	top: 10px;
	right: 20px;
	color: #ffffff;
}




































